<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       div{
        background-color: black;
        border: 3px red  solid;
        color:white;
        text-align: center;
       }
    </style>
</head>
<body>
  <div>
    <h1>WELLCOME  {{name}}</h1>
    <h2>{{subject}}</h2>
    <h2>Your opt is {{otp}}</h2>
    <p>please conform its you {{email}}</p>
  </div>
</body>
</html>